<div class="singleProduct">
  <h2>{{ currentPost.title }}</h2>
  <!-- <h2>{{ currentPost.image}}</h2> -->
  <img src="assets/images/{{currentPost.image}}">
  <h2>{{ currentPost.cost | currency }}</h2>
  <h2>zipcode : {{ currentPost.zipcode }}</h2>
  <h2>{{ currentPost.description}}</h2>
</div>


<!-- <p>
  A vacuum cleaner, also known as a sweeper or hoover, is a device that uses an air pump (a centrifugal fan in all but some of the very oldest models), to create a partial vacuum to suck up dust and dirt from floors and from other surfaces such as upholstery and draperies.
</p> -->
